# Contains environment variables needed before starting Docker containers
# Virtuoso:
DBA_PASSWORD=TEST
# Alignment:
MYSQL_ROOT_PASSWORD=TEST
GITHUB_CLIENT_ID=TEST
GITHUB_CLIENT_SECRET=TEST
# DAM:
POSTGRES_PASSWORD=TEST
DAM_POSTGRES_PW=TEST
# MICROSITE:
SUPERUSER_NAME=TEST
SUPERUSER_MAIL=test@test.de
SUPERUSER_PW=TEST
# RDFBrowser
MAIL_USERNAME=test@test.com
MAIL_PASSWORD=test
NOCAPTCHA_SITEKEY=test
NOCAPTCHA_SECRET=test
ADMIN_NAME=admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin1
DEFAULT_ENDPOINT=http://virtuoso_staging:8890/sparql