# Contains environment variables needed before starting Docker containers
# Virtuoso:
DBA_PASSWORD=TEST
# Alignment:
MYSQL_ROOT_PASSWORD=TEST
GITHUB_CLIENT_ID=TEST
GITHUB_CLIENT_SECRET=TEST
# DAM:
POSTGRES_PASSWORD=TEST
DAM_POSTGRES_PW=TEST