# Contains environment variables needed before starting Docker containers
VIRTUOSO_STAG_PW=TEST
VIRTUOSO_PROD_PW=TEST
ALIGNMENT_MYSQL_PW=TEST
GITHUB_CLIENT_ID=TEST
GITHUB_CLIENT_SECRET=TEST
DAM_POSTGRES_PW=TEST