<!DOCTYPE html>
<html lang="en" ng-controller="MainController">
<head>
    <meta charset="UTF-8">
    <title>OS Explorer</title>

    <link rel="stylesheet" href="public/styles/vendor.css">
    <link rel="stylesheet" href="public/styles/app.css">
    <style>
        .x-page-container .x-sidebar, .navbar-inverse,
        .list-group.list-group-inverse .list-group-item { background: {{ theme.colors.sidebar }} !important; }
        .x-page-container .x-content { background: {{ theme.colors.content }} !important; }
        .navbar-brand.navbar-brand-info { box-shadow: inset 50px 0 0 {{ theme.colors.brand }} !important; }
        .x-header-icon { background: {{ theme.colors.brand }} !important; }
    </style>

    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="public/scripts/snippets.js"></script>
</head>
<body>
<!-- BEGIN: Page Header -->
<div>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse x-page-header" ng-cloak>
        <div class="navbar-header navbar-header-full-width">
            <ul class="nav navbar-nav pull-right">
                <li ng-repeat="link in theme.header.links">
                    <a ng-href="{{ link.href }}">{{link.title}}</a>
                </li>

                <li ng-if="!login.isLoggedIn" class="user" ng-cloak>
                    <a href="javascript:void(0)" ng-click="login.login()">
                        <i class="os-icon os-icon-user"></i>
                        Login / Register
                    </a>
                </li>
                <li ng-if="login.isLoggedIn" ng-cloak>
                    <a href="javascript:void(0);" ng-click="isLoginMenuShown = !isLoginMenuShown">
                        <i class="os-icon os-icon-user"></i>
                        {{ login.name }}
                        <i class="os-icon os-icon-arrow-drop-down"></i>
                    </a>
                    <div ng-show="isLoginMenuShown" class="x-user-info">
                        <div class="x-avatar">
                            <img class="pull-left" ng-if="!!login.avatar" ng-src="{{ login.avatar }}">
                        </div>
                        <div class="x-info">
                            <div><strong>{{ login.name }}</strong></div>
                            <div><a href="/admin/">Profile</a></div>
                            <div><a href="javascript:void(0);" ng-click="login.logout()">Logout</a></div>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="navbar-brand navbar-brand-info" href="javascript:void(0)"
               ng-class="{'navbar-brand-black': !!search.q || search.viewAll}"
               title="OS Viewer" ng-click="clearAllFilters()">
                <img ng-src="{{theme.header.logo.icon}}" class="os-logo-part">
                <span class="os-logo-part">{{theme.header.logo.text}}</span>
            </a>
        </div>
    </nav>
</div>
<!-- END: Page Header -->

<div ng-if="!isLoaded.application" class="padding-top-32 padding-bottom-32">
    <div class="text-center" style="margin-bottom: 1em;">
        <i class="fa fa-4x fa-spinner fa-pulse"></i>
    </div>
    <div class="text-center">
        Loading application...
    </div>
</div>

<!-- BEGIN: Page Contents -->
<div ng-cloak ng-if="isLoaded.application" class="x-page-container">
    <div>
        <div class="x-sidebar" ng-if="!!search.q || search.viewAll">
            <sidebar-filters options="filterOptions" filters="search.filter"></sidebar-filters>
        </div>

        <div class="x-content">
            <div ng-class="{'jumbotron': !search.q && !search.viewAll, 'jumbotron-inverse': true}">
                <div class="container-fluid">
                    <div ng-if="!search.q && !search.viewAll" class="x-header-banner">
                        <div class="clearfix">
                            <span class="x-header-icon x-header-icon-muted pull-left"><i class="fa fa-search"></i></span>
                            <span class="x-header-icon x-header-icon-muted pull-left"><i class="os-icon os-icon-share"></i></span>
                            <span class="x-header-icon pull-left"><img ng-src="{{theme.header.logo.icon}}"></span>
                            <span class="x-header-icon-text pull-left">{{theme.header.logo.text}}</span>
                        </div>
                        <h1>{{theme.header.tagLine}}</h1>
                    </div>
                    <h2 ng-if="!!search.q || search.viewAll">Search data</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-class="{'form-control-inverse': !search.q}"
                               ng-model="search.q"
                               ng-model-options="{debounce: 200}"
                               placeholder="Search data">
                        <span class="form-control-feedback"><i class="fa fa-search"></i></span>
                    </div>
                    <div ng-if="!search.q && !search.viewAll" class="text-right">
                        <a href="javascript:void(0)" style="color: #f5f5f5;"
                           ng-click="search.viewAll = true;">...or explore all datasets</a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div ng-if="!search.q && !search.viewAll && (preview.length > 0)" class="row padding-top-15">
                    <div ng-repeat="item in preview track by item.id" class="x-preview-item-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <preview-item package="item" data-base="BASE"></preview-item>
                    </div>
                </div>

                <div ng-if="!!search.q || search.viewAll" class="margin-top-32 margin-bottom-32"
                     ng-pluralize count="results.length" when="{
          0: 'No results found.',
          1: '{} dataset found.',
          'other': '{} datasets found.',
        }">
                </div>

                <div ng-if="results.length > 0">
                    <div ng-repeat="result in results track by result.id">
                        <result-item package="result" data-base="BASE"></result-item>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END: Page Contents -->
<!-- BEGIN: Page Footer -->
<div>
    <nav class="navbar navbar-inverse navbar-footer" ng-cloak>
        <div class="clearfix">
            <a href="/"><img ng-src="{{ theme.footer.projectLogo.image }}"></a>
        </div>

        <hr>

        <div class="clearfix">
            <a class="pull-left x-footer-okfn-logo" ng-href="{{ theme.footer.orgLogo.href }}">
                <img ng-src="{{ theme.footer.orgLogo.image }}">
            </a>

            <ul class="nav navbar-nav pull-right x-footer-icons">
                <li ng-repeat="link in theme.footer.socialMedia">
                    <a ng-href="{{ link.href }}">
                        <img style="height: 1.5em; vertical-align: middle;"
                             ng-src="{{ link.icon }}" alt="{{ link.alt }}">
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li ng-repeat="link in theme.footer.links | filter : { title : '!!' }">
                    <a ng-href="{{ link.href }}">{{ link.title }}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- END: Page Footer -->

<script src="public/scripts/os-explorer.js"></script>
<script src="http://eis-openbudgets.iais.fraunhofer.de/user/lib"></script>

</body>
</html>
